
.template-areas-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 200px 200px;
  grid-gap: 10px;
  padding: 1rem;
  grid-template-areas:
    "header header header"
    "nav main main"
    "nav single single"
}

.item-area {
  border: 3px solid black;
  background-color: pink;

}

.header-area {
  grid-area: header;
}

.nav-area {
  grid-area: nav;
}

.main-area {
  grid-area: main;
}
